<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Giro de Italia 2024</title>
</head>
<body>
    <h1>Album Giro de Italia 2024</h1>
    <ul>
        <li>
            <a href="{% url 'team-list' %}">Team</a>
        </li>
        <li>
            <a href="{% url 'player-list' %}">Player</a>
        </li>
    </ul>
    <hr>
    <div>
        {% block section %}
        {% endblock section %}
    </div>
    <div>
        {% block maincontent %}
        {% endblock maincontent %}
    </div>
</body>